@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stratum';
  src: url('/fonts/stratumno2_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum';
  src: url('/fonts/stratumno2_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum';
  src: url('/fonts/stratumno2_bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Stratum', ui-sans-serif, system-ui, sans-serif;
  background-color: #1e293b;
  color: #f1f5f9;            
}